[Unit]
Description=Truck Simulator Discord bot

[Service]
User=rouven
WorkingDirectory=/home/rouven/TruckSimulatorBot
ExecStart=venv/bin/python3 bot.py

[Install]
WantedBy=multi-user.target
