[Unit]
Description=Truck Simulator Discord bot

[Service]
User=pi
WorkingDirectory=/home/pi/TruckSimulatorBot
ExecStart=/home/pi/TruckSimulatorBot/venv/bin/python3 bot.py

[Install]
WantedBy=multi-user.target
