[Unit]
Description=Timeout service for theTruck Simulator Discord bot
After=network-online.target

[Service]
User=rouven
WorkingDirectory=/home/rouven/PythonProjects/TruckSimulatorBot
ExecStart=/home/rouven/PythonProjects/TruckSimulatorBot/venv/bin/python3 timeouts.py

[Install]
WantedBy=multi-user.target
