[Unit]
Description=Truck Simulator Discord bot

[Service]
User=rouven
WorkingDirectory=/home/rouven/PythonProjects/TruckSimulatorBot/development
ExecStart=/home/rouven/PythonProjects/TruckSimulatorBot/development/venv/bin/python3 bot.py --enable-log-file

[Install]
WantedBy=multi-user.target
