[Unit]
Description=Timeout service for theTruck Simulator Discord bot
After=network-online.target

[Service]
User=USER
WorkingDirectory=WORKINGDIRECTORY
ExecStart=WORKINGDIRECTORY/venv/bin/python3 timeouts.py

[Install]
WantedBy=multi-user.target
